{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ blog.title }}</h1>
  <hr>

  <p><strong>Post Date:</strong> {{ blog.pub_date }}</p>
  <p><strong>Author:</strong><a href="{{ blog.author.get_absolute_url }}"> {{ blog.author }}</a></p>
  <!-- author detail link not yet defined -->
  <p><strong>Description:</strong> {{ blog.content}}</p>

<hr>
  
    <h4>Comments</h4>
  </br>
  
<div class="comment">
  {% for comment in comments %}
          <p class="lightGreen">
              {{ comment.user.username }} ({{ comment.pub_date }})- <p class="orange">{{ comment.description }}</p>
          </p></div>
            {% empty %}
          <p>No comments yet.</p>
  {% endfor %} 



<!-- Comment Form (ONLY if logged in) -->
{% if user.is_authenticated %}
    <h3>Leave a comment</h3>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        
        <button type="submit">submit</button>
    </form>
{% else %}
    <p> <a href="{% url 'login' %}">log in</a> to leave a comment.</p>
{% endif %}

{% endblock %}